@font-face 
{
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
