.about
{
	background-color: #2f6854;
	padding: 40px 0 50px 0;
}
.about__title
{
	position: relative;
	letter-spacing: 0.6px;
	color: #fff;
	font-size: 45px;
	text-align: center;
	margin-bottom: 12px;
}
.about__image
{
	height: 575px;
	border-radius: 20px;
	box-shadow: 0 -41px 172px -67px #7affbf;
}
.about__wrapper
{
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.about__text
{
	position: relative;
	background-color: #48816d;
	height: 100%;
	padding: 10px;
	border-radius: 20px;

	img
	{
	    position: absolute;
    	right: 10px;
	    background-color: #fff;
	    padding: 10px;
	    width: 120px;
	    bottom: -96px;
	    border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}
.about__text-p, .about__text-p2 
{
	letter-spacing: 0.6px;
	font-size: 20px;
	color: #fff;
}
.about__text-p
{
	margin-bottom: 15px;
}
.about__text-p2
{
	color: #000;
	background-color: #fff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 10px 20px;
}
@media(max-width: 1440px)
{
	.about__text-p, .about__text-p2 { font-size: 18px; }
}
@media(max-width: 1124px)
{
	.about { padding: 30px 0 110px 0; }
	.about__wrapper
	{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.about__image
	{
		width: 400px;
    	height: auto;
	}
	.about__text-p, .about__text-p2 { font-size: 20px; }
}
@media(max-width: 768px)
{
	.about__image 
	{
		max-width: 450px;
		width: 100%;
	}
	.about__text-p, .about__text-p2 { font-size: 18px; }
}