.certificate
{
	background-color: #91d7a9;
	padding: 20px 0 30px 0;
}
.certificate__wrapper
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.certificate__title,
.certificate__subTitle
{
	text-align: center;
	position: relative;
	z-index: 20;
	color: #2f6854;	
}
.certificate__title
{
	color: #265142;
	font-size: 40px;
	margin-bottom: 5px;
}
.certificate__subTitle
{
	font-size: 20px;
	margin-bottom: 15px;
}
.certificate__img
{
	max-width: 440px;
	width: 100%;
	cursor: pointer;
    box-shadow: 0px 0px 90px 7px #e3e3e3;
	transition: .3s;

	&:hover { transform: scale(1.01); }
}
.certificate__fullscreen 
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0000007a;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	cursor: pointer;

	img
	{
		max-width: 95%;
  		max-height: 95%;
  		object-fit: contain;
	}
}
@media( max-width: 1024px)
{
	.certificate__img { max-width: 350px; }
}
@media( max-width: 768px)
{
	.certificate__title { font-size: 38px; }
	.certificate__subTitle { font-size: 16px; }
	.certificate__img { max-width: 290px; }
}