.programm
{
	padding: 40px 0;
	background-color: #48816d;
}
.programm__title, .programm__subTitle
{
	text-align: center;
	color: #fff;
}
.programm__title {font-size: 34px; }

.programm__subTitle
{
	font-size: 19px;
	margin-bottom: 16px;
}
.programm__items
{
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 15px;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 15px;
	box-shadow: 0 -95px 178px -67px #7affbf ;

}
.programm__item
{
	display: flex;
	align-items: end;
	gap: 15px;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
}

.programm__item-num
{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	background-color: #000;
	color: #fff;
	width: 30px;
	height: 48px;
}
.programm__item-text
{
	h3 { font-size: 20px; }
	p { margin-bottom: 5px; }
}
@media( max-width: 768px)
{
	.programm__title { font-size: 30px; }
	.programm__subTitle { font-size: 17px; }
	
	.programm__items { padding: 14px; }
	.programm__item
	{
		align-items: start;
		gap: 12px;
	}
	.programm__item-num { padding: 0 10px; }
	.programm__item-text p
	{
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 9px;
	}
}
@media( max-width: 400px)
{
	.programm { padding: 30px 0; }
	.programm__item-text h3 { font-size: 18px; }
}