.mainFooter
{
	position: relative;
	padding: 40px 0 50px 0;
}
.mainFooter__wrapper
{
	display: flex;
	justify-content: space-between;
}
.mainFooter__logo
{
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 30;

	img
	{
		position: absolute;
		margin: 0 auto;
		bottom: 15%;
	}
}
.mainFooter__items
{
	display: flex;
	flex-direction: column;
	gap: 3px;
}
.mainFooter__item
{
	font-size: 22px;
	letter-spacing: .5px;
	cursor: pointer;
	transition: .3s;

	&:hover { color: #42ac86; }
	&:before { width: 0; }
}
.mainFooter__info
{
	display: flex;
	flex-direction: column;
	align-items: end;
}
.mainFooter__tel
{
	a
	{
		display: inline-block;
		font-size: 32px;
		color: #265142;
		margin-bottom: 5px;
	}
}
.mainFooter__email
{
	color: #000;
	font-size: 20px;
	margin-bottom: 20px;
}
.mainFooter__contact
{
	border: 1px solid #325d4d;
	padding: 10px 10px 5px 10px;
	border-radius: 50%;
}

@keyframes opAnimation 
{
  0%   { opacity: 0.6; }
  50%  { opacity: 1; }
  100% { opacity: 0.6; }
}
.op-animation
{
  opacity: 0;
  animation: opAnimation 2s ease-in-out infinite;
}
.mainFooter__logo-mob, .mainHeader__rights-mob { display: none; }
.mainHeader__rights { margin-top: 25px; }
.mainHeader__rights-mob, .mainHeader__rights { font-size: 18px }

@media( max-width: 768px)
{
	.mainFooter__logo, .mainHeader__rights { display: none; }
	.mainFooter__logo-mob, .mainHeader__rights-mob { display: inline-block; }

	.mainFooter__wrapper
	{
		flex-direction: column;
		.mainFooter__info-wr
		{
			flex-direction: column;
			align-items: start;
			gap: 20px;
		}
	}
	.mainFooter__info
	{
		margin-top: 20px;
		align-items: start;
	}
	.mainHeader__contacts { flex-wrap: wrap; }
	.mainHeader__mob
	{
		width: 100%;
		flex-wrap: wrap;
		align-items: end;
		gap: 10px;
	}
}

@media( max-width: 400px)
{	
	.tariffs__subTitle { font-size: 18px; }
	.mainFooter { padding: 20px 0; }
}