.mainHeader
{
	background-color: #fff;
	.container
	{
		height: 80px;
		display: flex;
		align-items: center;
	}
}
.mainHeader__wrapper
{
	display: flex;
	gap: 18px;
}
.mainHeader__wrap
{
	align-items: normal;
	gap: 30px;
}
.mainHeader__logo { display: flex; }

.mainHeader__items { gap: 30px; }
.mainHeader__item
{
	position: relative;
	font-size: 20px;
	cursor: pointer;
	transition: .3s;

	&::before
	{
	    position: absolute;
	    content: "";
	    width: 0;
	    height: 2px;
	    background-color: #42ac86;
	    bottom: 0;
	    transition: 0.3s;
	    border-radius: 40px;
	}
	&:hover
	{
		color: #42ac86;
		&::before { width: 100%; }
	}
}
.mainHeader__tel
{
	position: relative;
	a
	{
		font-size: 21px;
		color: #325d4d;
	}

	img
	{
		position: absolute;
		width: 15px;
		top: -5px;
		transform: rotate(180deg);
		transition: .3s;
		opacity: 0;
	}

	&:hover 
	{ 
		color: #000; 
		img
		{
			opacity: 1;
			transform: rotate(0deg);
		}
	}
}
.mainHeader__contacts
{
	display: flex;
	gap: 12px;
}
.mainHeader__contact
{
	img
	{
		width: 30px;
		height: 30px;
	}
}
.mainHeader__wrapper-mob, .mainHeader__burger {display: none;}
@media( max-width: 1280px)
{
	.mainHeader__wrapper { gap: 20px; }
	.mainHeader__items { gap: 15px; }
	.mainHeader__item { font-size: 19px; }
	.mainHeader__wrap { gap: 10px; }
}
@media( max-width: 1024px)
{
	.mainHeader__wrap, .mainHeader__items { display: none; }

	.mainHeader__burger-line
	{
		height: 2px;
		width: 35px;
		background-color: #000;
		transition: .3s;
	}
	.mainHeader__burger
	{
		display: flex;
		flex-direction: column;
		gap: 8px;
		cursor: pointer;

		&.active
		{
			.mainHeader__burger-line:first-child { transform: translate(0, 10px) rotate(45deg); }
			.mainHeader__burger-line:nth-child(2)
			{
				visibility: hidden;
				opacity: 0;
			}
			.mainHeader__burger-line:last-child { transform: translate(0, -10px) rotate(-45deg); }
		}
	}
	.mainHeader__wrapper-mob
	{
		display: flex;
		justify-content: center;
		align-items: start;
		transition: .5s;
		position: absolute;
		left: -100%;
		top: 80px;
		width: 100%;
		padding: 12px 20px;
		flex-direction: column;
		background-color: #3d6e5d;
		box-shadow: 0 -150px 178px -67px #7affbf inset;
		z-index: 100;
		border-bottom: 2px solid #fff;

		.g-flex
		{
			width: 100%;
			flex-wrap: wrap;
		}

		&.active
		{
			margin: 0;
			left: 0;
		}
	}
	.mainHeader__items-mob
	{
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 5px;	
		margin-bottom: 10px;
		width: 100%;
	}
	.mainHeader__item-mob
	{
		p
		{
			padding: 2px;
			font-size: 22px;	
		}
		display: flex;
		gap: 10px;
		cursor: pointer;
		border-bottom: 1px solid #000;
		width: 100%;
	}
	.mainHeader__tel-mob
	{
		display: block;
		color: #fff;
		font-size: 28px;
		margin-bottom: 8px;
	}
	.mainHeader__contact-mob
	{
		img
		{
			width: 50px;
			height: 40px;
			border-radius: 10px;
			padding: 5px 0;
			background-color: #fff;
			transition: .3s;

			&:hover { background-color: #7affbf; }
		}
	}
}