.works { padding: 30px 0 30px 0; }

.works__titleWr
{
	position: relative;
	max-width: 305px;
	margin: 0 auto;
	position: relative;
}
.works__title
{
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
}
.works__images
{
	display: flex;
	align-items: start;
    gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding-bottom: 15px;
   
    &::-webkit-scrollbar {height: 5px;}
    &::-webkit-scrollbar-track 
    {
        background: #dddddd;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb 
    {
        background: #48816d;
        border-radius: 5px;
    }
}
.works__image 
{
	cursor: pointer;
	height: 400px;
	flex-shrink: 0;
}
.works__fullscreen 
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 30;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .4s;
	background-color: #0000008c;
	padding: 5px 15px;
}
.works__fullscreen-img
{
	max-width: 900px;
	width: 100%;
	height: auto;
	position: relative;
	background-color: #fff;
}
@media( max-width: 1024px)
{
	.works__image { height: 300px; }
}