.banner
{
	position: relative;
	display: flex;
	align-items: center;
	padding: 20px 0;
	background-image: url('@/assets/images/eyelashes-bg.jpg');
	background-size: cover;
}
.banner__wrapper
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 -95px 178px -67px #45fda461 inset;
	padding: 10px 20px;
	border-radius: 20px;
	backdrop-filter: blur(40px);   
}
.banner__title
{
	color: #fff;
	font-size: 55px;
	max-width: 700px;
	line-height: 60px;
	margin-bottom: 25px;
}
.banner__subTitle
{
	color: #fff;
	font-size: 19px;
	max-width: 700px;
	margin-bottom: 18px;
}
.banner__buy
{
	display: inline-block;
  font-family: 'OpenSans-Bold';
	font-size: 18px;
	padding: 14px 38px;
	border-radius: 10px;
	border: 0;
	background-color: #7affbf;
	color: #224137;
	cursor: pointer;
	transition: .4s;

	&:hover
	{
		background-color: #fff;
		box-shadow: none;
		scale: 105%;
	}
}
.banner__wrapper-img { position: relative; }
.banner__img
{
	width: 400px;
	max-width: 100%;
	border-radius: 50%;
	border: 2px solid #fff;
}

.banner__title-mob {display: none;}
@media( max-width: 1280px)
{
	.banner__title
	{
		font-size: 48px;
		line-height: 50px;
	}
	.banner__subTitle
	{
		font-size: 17px;
		max-width: 515px;
		line-height: 25px;
	}
}
@media( max-width: 1024px)
{
	.banner { height: 420px; }
}
@media (max-width: 968px)
{
	.banner { height: 100%; }
	.banner__wrapper { gap: 20px; }
	.banner__title 
	{
    font-size: 38px;
    line-height: 40px;
  }
  .banner__subTitle 
  {
    font-size: 14px;
    max-width: 463px;
	    line-height: 20px;
  }
  .banner__buy
  {
  	font-size: 16px;
  	padding: 10px 29px;
  }
}
@media (max-width: 768px)
{
	.banner__title {display: none;}
	.banner__wrapper
	{	
		text-align: center;
		flex-direction: column;
		flex-direction: column-reverse;
	}
	.banner__title-mob
	{
		display: inline-block;
		color: #fff;
		font-size: 33px;
		margin: 0 auto;
		line-height: 40px;
		max-width: 600px;
	}
  .banner__subTitle { max-width: 100%; }
	.banner__img { width: 290px; }
}
@media (max-width: 768px)
{
	.banner__wrapper { gap: 10px; }
	.banner__title-mob { max-width: 500px; }	
	.banner__subTitle { font-size: 16px; }
}
@media (max-width: 400px)
{
	.banner__title-mob
	{
		font-size: 30px;
		line-height: 40px;
	}
}
